# built objects.
/target
/instalist-server-webservice/target

# specific not usable IntelliJ-Files.
/.idea/libraries
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
/.idea/dataSources.*
/.idea/artifacts

# Locks and backups.
*~
.directory
*.bak