# built objects.
/out/**
/build/**
/.gradle/**

# specific not usable IntelliJ-Files.
/.idea/libraries
/.idea/uiDesigner.xml
/.idea/workspace.xml
/.idea/inspectionProfiles
/.idea/dataSources.*
/.idea/artifacts
/.idea/dataSources.xml

# generated through gradle
/instalist-server.iml
/instalist-server.iws
/instalist-server.ipr

# Locks and backups.
*~
.directory
*.bak
